<a href="/rock">Play Rock</a><br>
<a href="/paper">Play Paper</a><br>
<a href="/scissors">Play Scissors</a><br>

<h2>
  We played paper!
</h2>

<h2>
  They played <%=@comp_move%>!
</h2>

<h2>
  We <%=@outcome%>!
</h2>

<a href="/rules">Rules</a>
